<!DOCTYPE html>
<html lang="en">
    <head>
        <title>James's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a>a></h1>
        </div>

        <div>
            <p>published: 17.11.2018, 12:15</p>
            <h2><a href="">My first post</a></h2>
            <p>asdfsfl sf sdf  sdf sdf s</p>
        </div>

        <div>
            <p>published: 17.11.2018, 12:45</p>
            <h2><a href="">My secend post</a></h2>
            <p> asdfsdf  asdfs  words</p>
        </div>
    </body>
</html>